spring:
  profiles:
    active: local

  jpa:
    show-sql: true

  jackson:
    default-property-inclusion: non_null

server:
  port: 8080
  context-path: /sell

log:
  path: sell-log



---
spring:
  profiles: local
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://192.168.1.183/sell?useUnicode=true&characterEncoding=utf-8&useSSL=false

---
spring:
  profiles: dev
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://127.0.0.1/sell?useUnicode=true&characterEncoding=utf-8&useSSL=false